h1{
    font-size: 36px;
    color: #21B0DA;
    font-family: monospace;
}

a{
    color: #5AD6F5;
}

h3{
    font-size: 25px;
    font-family: monospace;
    color: silver;
}

p{
    font-size: 18px;
    color: silver;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}

body{
    background-color: #323637;
}